:root {
    --mdc-theme-primary: #416275;
    --mdc-theme-secondary: #8aa3b1;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
}

.demo-grid {
    background: rgba(0,0,0,.2);
    min-width: 360px;
}

.demo-cell {
    background: rgba(0,0,0,.2);
    height: 700px;
}

.nav-link {
    text-transform: initial;
}

#cs-list-summary {
    position: sticky;
    top: 64px;
}

/* canh đều hai bên của class mdc-top-app-bar__title */
.nav-logo {
    padding-left: inherit;
    padding-right: inherit;
}
/* end */

.mdc-top-app-bar__title {
    padding-left: 0.5rem;
}

/* nav màn hinh nhỏ */
@media only screen and (max-width: 599px) {
    .mdc-top-app-bar__row {
        flex-direction: column;
        height: auto;
    }

    .mdc-top-app-bar__section.mdc-top-app-bar__section--align-end {
        justify-content: space-between;
    }

    .nav-link {
        width: 100%;
    }
}
/* end */

/* Logo Quang Huy lớn */
.big-logo {
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--mdc-theme-on-primary, #fff);
}
.big-logo__inner {
    text-align: center;
}

.big-logo__inner h1 {
    margin: 1rem;
}
/* end */

/* Hover trên nav */
.mdc-button--unelevate__hover {
    transition: 0.3s;
}

.mdc-button--unelevate__hover:hover {
    background-color: #3d5b6d; 
}
/* end */

/* Sau khi click thì không còn focus tại button đó */
.mdc-button.mdc-ripple-upgraded--background-focused::before {
    opacity: 0 !important;
}
/* end */

/* card */
.cs-card-header {
    padding: 0 0 0 0;
    background-color: #416275;
}

.cs-card__content {
    padding: 1rem;
    display: block;
}

.cs-card__title {
    margin: 0;
    padding: 1rem 1rem 0rem 1rem;
    color: #fff;
}

.cs-card__subtitle {
    color: rgba(255, 255, 255, 0.596);
    margin: 0rem 0 0.5rem 1rem;
}

.cs-card {
    margin-bottom: 1rem;
    margin-top: 8px;
}
/* end */

/* Giãn dòng ở content */
.cs-ngat-dong {
    height: 1rem;
}

.cs-card__content::first-letter {
    font-size: 250%;
    color: #416275;
}
/* end */

/* FAB */
.app-fab--absolute {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    z-index: 50;
}
/* end */

/* Scroller */
::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(61, 91, 109, 0.616);
    border-radius: 4px;
}
/* end */

/* Footer */
.footer {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.footer__inner {
    text-align: center;
    color: var(--mdc-theme-on-primary, #fff);
}

.footer__title {
    margin: 0;
    font-size: 120%;
    line-height: 1.2;
}

.font-light {
    font-weight: normal;
}
/* end */

/* Selection */
::selection {
    background-color: #8aa3b138;
}
/* end */

/* :not(:disabled).mdc-button--raised, :not(:disabled).mdc-button--unelevated{
	background-color: #416275;
} */

/* dialog */
.mdc-dialog {
    z-index: 51;
}

.mdc-dialog .mdc-dialog__surface {
    width: 600px;
}
/* end */

/* button */
.cs-white-button {
    background-color: #fff !important;
}

.cs-logo-banner-action {
    margin: 2rem 2rem 0 2rem;
}
/* end */


/* tab */
.show {
    display: block !important;
}

.tab-container .tab-content {
    display: none;
    /* margin-top: 1rem; */
    padding: 1rem;
    min-height: 200px;
    background-color: #f7f7f7;
}
/* end */

.mdc-list-item__actived {
    background-color: #416275 !important;
    color: var(--mdc-theme-on-primary, #fff) !important;
}

/* text */
.mdc-text-field--focused .mdc-floating-label--float-above {
    color: #416275 !important;
}
/* end */

