* {
    /* font-family: Roboto; */
    transition: 0.2s;
}
@font-face {
    font-family: 'Font1';
    src: url(FtraMd__.ttf) format('truetype');
}
@font-face {
    font-family: 'Font2';
    src: url(Oswald-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'Font3';
    src: url(Oswald-SemiBold.ttf) format('truetype');
}
@font-face {
    font-family: 'Font4';
    src: url(Oswald-Medium.ttf) format('truetype');
}
@font-face {
    font-family: 'logoo';
    src: url(Adobe-Garamond-Pro-Semibold-Italic_2010.ttf) format('truetype');
}
@import url('https://fonts.googleapis.com/css?family=Mitr');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Homemade+Apple');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt');
@import url('https://fonts.googleapis.com/css?family=EB+Garamond');
@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed');
@import url('https://fonts.googleapis.com/css?family=Oswald');
@import url('https://fonts.googleapis.com/css?family=Francois+One');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans+SC');
@import url('https://fonts.googleapis.com/css?family=Tinos');
a.nav-link {
    line-height: 0.25;
    color: white!important;
}
#navfont {
    /* font-family: 'Font4'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    /* font-family: 'Mitr', sans-serif; */
    padding: 0px!important;
    /* margin: 2px; */
    /* padding-top: 0px;
    padding-bottom: 0px; */
    font-weight: 700;
}
.navbar-nav {
    margin-bottom: -1px!important;
}
#home:hover {
    background-color: #416275;
}
#home {
    /* font-family: 'Font4'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    line-height: 1.5!important;
    /* padding: 15px; */
    /* font-family: 'Font3'; */
    padding-left: 1px;
    padding-right: 1px;
    font-size: 22px!important;
    background-color: #416275;
}
.nav-item {
    padding: 7px;
}
.right .nav-item {
    font-size: 15px;
}
.right .nav-link {
    color: #F3F1E9!important;
}
#fb:hover {
    background-color: #3b5998;
    display: block;
}
#ig:hover {
    background-color: #e4405f;
    display: block;
}
#tw:hover {
    background-color: #55acee;
    display: block;
}
#wp:hover {
    background-color: #21759b;
    display: block;
}
#dhhh:hover {
    background-color: #7e7e7e;
    display: block;
}
#pj:hover {
    background-color: #016129;
    display: block;
}
.bvm {
    /* font-family: 'Font3'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: large;
    /* white-space: pre-line; */
    letter-spacing: 1px;
    border-bottom: 2px dotted;
    /* width: 100%; */
    display: block;
    padding-bottom: 5px;
    color: #416275;
}

#logo {
    color: #F3F1E9;
    height: 300px;
    text-align: center;
    padding-top: 50px;
    background-color: #416275
    /* margin-top: auto!important;
    margin-bottom: auto!important; */
}
.title {
    font-family: 'EB Garamond', serif;
    /* font-family: "logoo"; */
    font-weight: bold;
    font-size: 80px;
    line-height: 0.8;
    /* font-feature-settings: "swsh" 2; */
    /* font-feature-settings: "ss02"; */
    transition: all 0.4s;
    /* -webkit-text-stroke: 1px white; */
    /* animation: fade 0.5s; */
    /* text-shadow: 0px 0px #416275; */
    /* background-clip: padding-box; */
    
}
.title:hover {
    /* font-size: 79px; */
    /* animation: dm 0.5s; */
    /* -webkit-text-stroke: 1px white; */
    text-shadow:
    -1px -1px 0 white,
    1px -1px 0 white,
    -1px 1px 0 white,
    1px 1px 0 white;
    /* -webkit-text-fill-color: #416275; */
    color: #416275;
    /* transition: all 0.5s !important; */
    /* text-shadow: 0px 0px white; */
}
.title::after {
    content: 'Quang \A \210B uy';
    /* content: "a"; */
    white-space:pre;
}
#ccc {
    /* transition: border-bottom 1s!important; */
    /* font-family: 'Font4'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 500;
    font-size: large;
    text-transform: uppercase;
    /* letter-spacing: 1px; */
    border-bottom: 1px dotted;
}
#ccc:hover {
    /* animation: fadeIn 0.2s; */
    /* transition: border-bottom 1s!important; */
    border-bottom: 1px solid;
    /* color: #e4405f; */
}
.card {
    border: none!important;
    /* height: 280px; */
    /* overflow-y: scroll; */
    margin-bottom: 5px;
}
.chia {
    font-family: 'Font4';
    letter-spacing: 1px;
    border-bottom: 2px dotted;
    display: block;
    padding-bottom: 5px;
    color: #416275;
}
.tde {
    /* margin-top: 30px; */
    /* font-family: 'Font3'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 800;
    font-size: large;
    letter-spacing: 1px;
    display: block;
    padding-bottom: 5px;
    color: #416275;
    text-transform: uppercase;
}
.ndung {
    font-family: 'EB Garamond', serif;
    /* font-family: 'Tinos', serif; */
    font-weight: 500;
    font-size: medium;
    color: black;
}
.nt {
    color: gray;
}
ul {
    list-style: none;
    padding-left: 15px;
}
a.subtext {
    /* font-family: 'Font4'; */
    font-family: 'Alegreya Sans SC', sans-serif;
    font-weight: 700;
    color: #416275;
    font-size: smaller;
}
a:hover {
    text-decoration: none!important;
    color: #21759b;
}
#footer {
    width: 100%;
    height: 50px;
    background-color: #416275;
    color: #F3F1E9;
    font-family: 'Font2';
    text-align: center;
    line-height: 50px;
    letter-spacing: 1px;
    margin-top: 15px;
}
.dropdown-menu {
    border-radius: 0px!important;
    background-color: #121F27!important;
    top: 115%!important;
    border: none!important;
}
.dropdown-item {
    color: white!important;
}
.dropdown-item:hover {
    color: #121F27!important;
}
.tips-p::after {
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #121F27;
    transform: rotate(45deg);
    top: -3%;
    left: 24%;
}
@media screen and (max-width:767px){
    .tips-p::after {
        display: none;
    }
    #home {
        display: none;
    }
    #dhhh {
        display: none;
    }
}
@media screen and (min-width:768px){
    #dieuhuong {
        display: none;
    }
}
.navbar-dark .navbar-toggler {
    border-color: transparent!important;
    color: white!important;
}
/* #style-1::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
} */

.style-1::-webkit-scrollbar {
    width: 7px;
}
.style-1::-webkit-scrollbar-track {
    background-color: #f5f5f5;
}
.style-1::-webkit-scrollbar-thumb{
    background-color: rgba(18, 31, 39, 0.603);
}


.hideContent {
    overflow: hidden;
    height: 76px;
    line-height: 1.2;
}

.showContent {
    line-height: 1em;
    height: auto;
    line-height: 1.2;
}
.show-more a {
    font-family: 'Font4'!important;
}