* {
    
}
.dropdown-item:hover {
    color: white!important;
    background-color: #398791!important;
}
#logo {
    background-color: #fff;
    color: #398791;
    padding: 5px 5px 7px 5px;
    border-radius: 8px;
    line-height: 1px;
    font-weight: bold;
}